
  html {
      font-family: Poppins;
  }

  body {
    margin: 0;
  }
  
  #logo {
    padding:0px 150px;
  }
  
  table {
      width: auto;
  }

  .sss {
    margin: 10px auto;
    width: 38em;
  }


  table.sss tbody {	
    border: 3px solid red;
    box-shadow: 0 0 0 2px black;
}

  td,th {
    font-size: 25px;
    padding: 5px 10px;
  }

  th {
      font-family: Lobster;
  }
  
  
  input[type=number]::-webkit-inner-spin-button {
      opacity: 1
  }

  .delete {
      border: none;
      color: red;
      background: none;
      cursor: pointer;
      
  }
  .pricemod {
    border: none;
    width: auto;
    margin-left: 30px;
  }

  .price {
    float: right;
  }
  
  
  
  
  .roundbutton{
      border-radius: 50%;
      width: 75px ;
    font-size: 50px;
    border: 2px solid white;
  }

  #gesamtprice {
      float: right;
      font-weight: bold;
      border-bottom: 1px double grey;
  }

  #einkaufen {
      width: 230px;
      font-size: 20px;
      font-family: Poppins;
      background-color: #00affe;
      border-radius: 20px;
      color: white;
  }

  #weiter {
    width: 30em;
    height: 50px;
    font-size: 20px;
    font-family: Poppins;
    background-color: #00affe;
    border-radius: 20px;
    color: white;
    margin: 0 auto;
  }