.sortbar {
    margin-left: 67.5%;
    margin-top: 80px;

} 
 .sortbutton {
    background-color: #00affe;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    height: 50px;
  }
  
  .dropdown {
    display: none;
    position: absolute;
  }
  
  .sortierauswahlbutton {
    background-color: #00affe;
    color: white;
    padding: 10px;
    font-size: 20px;
    border: none;
    width: 80%;
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    }
  
 
  .dropdown a:hover {
      background-color: #ddd;
   }

  .sortbar:hover .dropdown {
      display: block;
      transform: translate(280px,-45px);
  }
  
  .sortbar:hover .sortbutton {
      background-color: #0193d6;
   } 

   .sortierauswahlbutton:hover {
    background-color:#0193d6;
   }