
* {
    margin: 0;
}

html {
    font-family: Poppins;
}
header
{
    text-align: center;
    padding-top: 50px;
    color: #00affe;
    font-family: Arial;
}

.tabelle
{
    margin: 0 auto;
}

.tabelleWrapper {
    margin: 0 auto;
    padding: 6em 3em 2em 3em;
    border: 1px solid rgb(119,119,119);
    margin-top: -3em;
    width: min-content;
    box-shadow: 10px 10px 5px  rgb(119,119,119);
}

input[type="text"] {
    font-size: 20;
    text-align: center;
}


table tr td
{
    border-style: none;
    padding: 5px;
    
}

table tr td fieldset input
{
    height: 30px;
    padding: 2%;
    border: none;
    outline: none;
    font-size: 12pt;
}

#FeldA
{
    width: 300px;
    height: 50px;
}

#FeldB
{
    display: inline-block;
    width: 40.8555555%;

}

#inputA
{
    width: 300px ;
    padding: 2%;
}

#inputB
{
    width: 100px ;
    padding: 2%;
}

#agb {
    height: 15px;
    width: 15px;
    border-radius: 15px;
}

label[for="agb"] {
    padding-left: 10px;
    margin-bottom: 5px;
}


.legend {
    font-weight: bolder;
    font-size: 20px;
}

.bestellen
{
    text-align: center;
    padding-top: 50px;
}
#bestellen
{
    background-color: #00affe;
    border-radius: 20px;
    width: 200px;
    height: 35px;
    font-size: 12pt;
    color: white;
    
}
