.navbar {
   background-color: #00affe;
   overflow: hidden;
   top:0;
   left:0;
   padding:  10px;
   height: 50;
 }

#logo {
  position: absolute;
  padding: 5px 7%;

}

#warenkorb {
  float: right;
  margin-right: 550px;
  margin-top: -5px;
}

.warenkorb_text {
  font-size: 18;
  font-style: normal;
  font-weight: bold;
  color: white;
  font-family: 'Poppins', sans-serif;
  FLOAT: RIGHT;
  margin-top: -18px;
  margin-right: -180px;
 
}

p[id="warenkorb_preis"]{
  margin-top: -12px;
}


.notification_p {
  color: rgb(0, 255, 0);
  font-family: 'Poppins', sans-serif;
  font-size: 18;
  font-weight: bold;
  float: right;
  margin-right: -600px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}