html, body {
    
    margin: 0;
    overflow: hidden;
 }

 
.searchcontent {
    border: none;
    position: absolute;
    left: 29%;
    width: 1100px;
    height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: -10px;
}


#searchresult {
    color: #00affe;
    font-size: 30;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    position: sticky;
    text-align: center;
    margin-top: 10px;
    margin-left: 85px;
    width: 100%;
}


fieldset {
    margin: 30px;
    border: none;
    border-right: 2px solid rgb(119, 119, 119);
    border-bottom: 2px solid rgb(119, 119, 119);
    -webkit-box-shadow: 3px 7px 8px 3px rgba(0,0,0,0.23);
    -moz-box-shadow: 3px 7px 8px 3px rgba(0,0,0,0.23);
    box-shadow: 3px 7px 8px 3px rgba(0,0,0,0.23);
}
fieldset:hover {
    border-bottom: 5px solid #00affe;
}



legend {
    color: #00affe;
    font-size: 30;
    font-weight: bold;
    font-family: Lobster;
}

#description {
    font-family: 'Poppins', sans-serif;
    font-size: 20;
    margin-left: 300px;
    margin-top:20px;
    width: 400px;
    display: block;
    color: rgb(70, 70, 70);
    text-align: center;
}

#item_img {
    float: left;
}

.preis_anzahl_warenkorb {
    position: absolute;
    transform: translate(750px,-100px);
    margin: 0px;
}

.preis {
    font-size: 35;
    font-family: Lobster;
    color: #00affe;
    margin-left: 40px;
}

.anzahl {
    font-size: 20;
    height: 30px;
    width: 50px;
    border: 1px solid rgba(0, 0, 0, 0.322);
    text-align: center;
}

.indenwarenkorb {
    font-size: 15;
    height: 40px;
    width: 200px;
    color:white;
    background-color: #00affe;
    border-radius: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 0px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.indenwarenkorb:hover {
    cursor: pointer;
    background-color: #0193d6;
}